


.form{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    border-radius: 10px;
}

.info-tab {
    box-shadow: 5px 5px 15px 5px var(--dark-blue);
}

.info-tab > label,
.info-tab > input {
    padding: 0 10px;
}


fieldset {
    display: flex;
    flex-direction: column;
    border: none;
    align-content: center;
    justify-content: center;
}

textarea {
    width: 100%;
    height: 70px;
    font-size: 1.1em;
    resize: none;
}

@media screen and (max-width:800px) {
    .form input{
        font-size: 1.2rem;
    }
    
}
