.popup-box {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.5);
    /* Semi-transparent background */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    /* Ensure it is above other content */
}

.popup-content {
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    position: relative;
    display: flex;
    flex-direction: column;
}

.popup-title {
    background-color: var(--dark-teal);
    color: white;
    padding: 10px;
    border-radius: 10px 10px 0 0;
}

.popup-machine {
    padding: 10px;
}

.popup-btns {
    padding: 10px;
    display: flex;
    gap: 10px;
    align-self: self-end;
}

@media screen and (max-width:800px) {
    .popup-content{
        margin:30px;
    }
    .popup-title{
        font-size: 1rem;
    }
    .popup-machine p{
        font-size: 0.8rem;
    }
    .popup-btns button{
        font-size: 0.8rem;
        
    }
    
}